.nav-link {
	font-size: 1.2rem;
	border-radius: 10px;
	cursor: default;
}

.nav-link-menu {
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.nav-link-menu:hover, .nav-link:hover {
	color: #fdbe02;
}

.navbar-toggler {
	border-radius: 5px;
	color: #fdbe02 !important;
}

.navbar-icon {
  font-size: 1.5rem;
  color: #fdbe02;
  transition: all 0.3s ease;
	cursor: default
}

.navbar-icon:hover {
	color: #fdbe02;
}

.navbar-cart-icon {
	cursor: pointer;
}
