
body {
	color: #000;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.text-slanted {
  font-family: 'Raleway', sans-serif
}

.text-yellow {
  color: #fdbe02;
}

.btn-yellow {
  background: #fdbe02;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #000;
  transition: all 0.5s ease;
}

.btn-yellow:hover {
  background: #000; 
  color: #fdbe02;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #000;
  border-radius: 10px !important;
  border: 0.1rem solid #000;
}

.btn-black:hover{
  background: #000;
  color: #fdbe02;
}